# Installed dependencies
/node_modules
.node_modules
node_modules

# Cache files
.npm
.eslintcache

# Environment variable files
.env
.env.build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
# (Change this if you set a `distDir` in `next.config.js`)
/.next

# Misc
.DS_Store # macOS specific